@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-main: "Roboto", sans-serif;

// Colors
$dark: #000000;
$accent-a: #386bba;
$accent-b: #3b82f6;
$placeholder: #f2f2f3;  
$background: #ffffff;
$white: #f9f9f9; 


// Media
$tablet: 959px;